@import "config";

.btn {
  margin: 3px;
  padding: 1rem 2rem;
  transition: $anim;
  border: none;
  color: $main;
  background-color: $ocean-light;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  &:hover {
    color: $light;
    background-color: $ocean;
  }
}
// .btn-root {
// }
.logout-btn {
  display: flex;
  align-items: center;
  & i {
    font-size: 1.6rem;
    margin: 0 10px 0 0;
  }
}

// AddTask Button
.task-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $ocean-light;
  border: none;
  transition: $anim;
  &:hover {
    color: $light;
  }
  &-container {
    position: absolute;
    bottom: -11%;
    right: -4%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-helper {
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    & i {
      // arrow
      margin: 20px;
      animation: anim-arrow 1s ease-in-out 1s alternate infinite;
    }
    &-title {
      letter-spacing: 5px;
    }
  }
}

// Animation on FrontPage
@keyframes anim-icon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    font-size: 50px;
  }
  100% {
    transform: rotate(360deg);
    font-size: 40px;
  }
}
@keyframes anim-arrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-15px);
  }
}
@keyframes anim-popup {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}
// Login
.reg_form_err {
  color: $error;
}

/* Top Navigation Bar */

/* <nav> */
.auth-menu {
  width: 100%;
  height: 70px;
  background-color: $main;
  padding: 0 10rem;
  border-bottom: 1px solid $textcolor;
  &-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &-item {
    width: calc(70px * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: $anim;
    margin: 0 10px;
    // &-link {
    //   display: flex;
    //   align-items: center;
    //   margin-bottom: 10px;
    // }
  }
}

/* Icon Button */
.icon-button {
  --button-size: calc(70px * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  font-size: 20px;
  // color: $light;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button {
  fill: $textcolor;
  width: 50px;
  height: 50px;
}

/* Dropdown Menu */

.dropdown {
  z-index: 100;
  position: absolute;
  top: 70px;
  width: 300px;
  transform: translateX(-45%);
  background-color: $main;
  border: 1px solid $textcolor;
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
  transition: $anim;
  & .menu {
    width: 100%;
  }

  & .auth-menu-item-link {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: $anim;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    & .menu-item-title {
      margin-left: 10px;
    }
  }

  & .auth-menu-item-link .icon-button {
    margin-right: 0.5rem;
  }

  & .auth-menu-item-link .icon-button:hover {
    filter: none;
  }

  & .auth-menu-item-link:hover {
    background-color: #525357;
  }

  & .icon-right {
    margin-left: auto;
  }

  /* CSSTransition classes  */
  & .menu {
    &-primary.enter {
      position: absolute;
      transform: translateX(-110%);
    }
    &-primary.enter-active {
      transform: translateX(0%);
      transition: $anim;
    }
    &-primary.exit {
      position: absolute;
    }
    &-primary.exit-active {
      transform: translateX(-110%);
      transition: $anim;
    }
    &-secondary.enter {
      transform: translateX(110%);
    }
    &-secondary.enter-active {
      transform: translateX(0%);
      transition: $anim;
    }
    &-secondary.exit-active {
      transform: translateX(110%);
      transition: $anim;
    }
  }
}

.auth-container {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
// .user-nav-container {
//   display: flex;
//   align-items: center;
//   padding: 10px 20px;
//   background-color: transparent;
//   border: 2px solid $ocean;
//   transition: $anim;
//   border-radius: 10px;
//   margin-top: 10px;
//   &:hover {
//     border: 2px solid $ocean-light;
//   }
//   & .user-nav-username {
//     transition: $anim;
//     margin-right: 20px;
//     color: $ocean;
//     &:hover {
//       cursor: pointer;
//       color: $ocean-light;
//     }
//   }
// }

.nav-auth-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 5rem;
  & .nav-link {
    font-size: 15px;
    font-weight: 700;
    transition: $anim;
    &:hover {
      cursor: pointer;
      color: $accent;
    }
  }
}

// Navigation Bar
.nav-menu {
  z-index: 100;
  position: fixed;
  transition: width 600ms ease;
  width: 5rem;
  overflow-x: hidden;
  background-color: $main;
  &:hover {
    width: 16rem;
    & .nav-menu-brandName {
      opacity: 1;
    }
    & .nav-menu-link-title {
      // display: inline;
      opacity: 1;
    }
  }
}
.nav-menu-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.nav-menu-item {
  width: 100%;
}

.nav-menu-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: $light;
  text-decoration: none;
  transition: $anim;
  filter: grayscale(100%) opacity(0.7);
  &-title {
    opacity: 0;
    display: inline;
    margin-left: 1rem;
    transition: $anim;
  }
  &-icon {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  &:hover {
    filter: grayscale(0%) opacity(1);
    background-color: lighten($main, 5%);
  }
}
.nav-menu-logo-container {
  margin-top: 30px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: $accent;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  & i {
    transform: rotate(0deg);
    transition: $anim;
  }
  & .nav-menu-brandName {
    display: inline;
    opacity: 0;
    transition: $anim;
  }
}

//Front PAGE
.page-title {
  text-align: center;
  margin: 30px 0;
}
.features-title {
  text-align: center;
}
.prj-desc {
  position: relative;
  display: flex;
  // height: 80vh;
  justify-content: space-between;
  align-items: center;
  // color: $light;
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40rem;
    background-color: $green;
    width: 18rem;
    color: $light;
    text-transform: uppercase;
    transition: $anim;
    box-shadow: $boxShadow;
    &:hover {
      height: 35rem;
      box-shadow: none;
    }
  }
  & .features-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $main;

    width: 100px;
    height: 100px;
    font-size: 40px;
    transition: $anim;
    &-anim {
      animation: anim-icon 2s ease-in-out 1s infinite;
    }
  }
  & .features-title {
    margin-top: 10px;
  }
  & .features-logo {
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
.bg {
  &-blue {
    background-color: $blue;
  }
  &-blue-light {
    background-color: $blue-light;
  }
  &-orange {
    background-color: $orange;
  }
  &-ocean {
    background-color: $ocean;
  }
  &-ocean-light {
    background-color: $ocean-light;
  }
}

// POPUP WINDOW
.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba($main, 0.5);
}

.popup {
  &-container {
    position: relative;
    z-index: 100;
    width: 40%;
    height: 70%;
    background-color: $light;
    animation: anim-popup ease-in-out 0.5s;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
    border-radius: 1rem;
  }
  &-text {
    text-align: center;
    color: $main;
  }
  &-closeBtn {
    display: flex;
    position: absolute;
    border: none;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 7rem;
    color: $error;
    transition: $anim;
  }
}
.form-add-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  &-subcontainer {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-btn-container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
